@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__gradient {
  background: linear-gradient(180deg, transparent 0%, #0d1117 10%);
}

@media screen and (min-width: 640px) {
  .about__gradient {
    background: linear-gradient(180deg, transparent 0%, #0d1117 15%);
  }
}

@media screen and (min-width: 1280px) {
  .about__gradient {
    background: linear-gradient(180deg, transparent 0%, #0d1117 20%);
  }
}